@charset "UTF-8";
/* Обнуляющий стиль (CSS Reset) */
* { font-family: 'Open Sans'; }

*, *::before, *::after { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; font-family: sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { background-color: #fff; color: #000; }

img, picture, video, canvas, svg { display: block; max-width: 100%; height: auto; }

input, button, textarea, select { font: inherit; color: inherit; background: none; border: none; outline: none; }

button { cursor: pointer; }

a { text-decoration: none; color: inherit; }

ul, ol { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

:root { --color-black: #000; --color-white: #fff; --color-gray: #e0e0e0; --color-gray-font: #A9A9A9; --color-red: #FF4545; --color-hover: #333; --color-blue: #458FFF; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f3eee9)); background: -webkit-linear-gradient(top, #fafafa, #f3eee9); background: -o-linear-gradient(top, #fafafa, #f3eee9); background: linear-gradient(to bottom, #fafafa, #f3eee9); min-height: 100vh; }

.main { position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.main .catigories { border-bottom: solid 2px var(--color-gray); }

.main .catigories .container { margin: 0 auto; max-width: 1300px; padding: 15px 150px; }

.main .catigories .container h1 { text-align: center; }

.main .catigories .container .catigories_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 10px; border-top: dashed 1px var(--color-gray); padding: 20px 0; }

.main .catigories .container .catigories_list .img_container { position: relative; width: 358px; height: 120px; }

.main .catigories .container .catigories_list .img_container .active { opacity: 1 !important; }

.main .catigories .container .catigories_list .img_container img { opacity: 0.6; }

.main .catigories .container .catigories_list .img_container .text { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: var(--color-white); font-size: 2.3rem; font-weight: 700; color: white; /* Цвет заливки текста */ -webkit-text-stroke: 1px rgba(8, 8, 8, 0.434); }

.main .catalog .container { max-width: 1300px; margin: 0 auto; padding: 15px 150px; }

.main .catalog .container .prod { margin-top: 15px; }

.main .catalog .container .prod .slider_controls { margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 40px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.main .catalog .container .prod .slider_controls button { margin: 15px 0 5px 0; width: 30px; height: 30px; }

.main .catalog .container .prod .slider_controls button:hover { background-color: var(--color-gray); border-radius: 50%; }

.main .catalog .container .prod .slider_controls .prev_btn { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.main .catalog .container .title { text-align: center; border-bottom: solid 1px var(--color-gray); }

.main .catalog .container .slider_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.main .catalog .container .slider_container { margin-top: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 15px; -webkit-scroll-snap-type: x mandatory; -ms-scroll-snap-type: x mandatory; scroll-snap-type: x mandatory; overflow-x: scroll; scrollbar-width: none; scroll-behavior: smooth; scrollbar-width: none; }

.main .catalog .container .slider_container .product { -ms-flex-negative: 0; flex-shrink: 0; scroll-snap-align: center; }

.main .catalog .container .slider_container .product img { width: 171px; height: 171px; -o-object-fit: cover; object-fit: cover; image-rendering: auto; }

.main .catalog .container .slider_container .product .product-details .product-name { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 6px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.4rem; font-weight: 600; }

.main .catalog .container .slider_container .product .product-details .product-name span { color: var(--color-gray-font); font-size: 0.6rem; font-weight: 300; }

.main .catalog .container .slider_container .product .product-details * { margin-top: 4px; }

.main .catalog .container .slider_container .product .product-details .procent { background: #FFF945; margin: 0 5px; }

.main .catalog .container .slider_container .product .product-details .markdown { text-decoration: line-through; color: var(--color-blue); }

.main .catalog .container .slider_container .product .product-details .current { color: var(--color-red); }

.main .catalog .container .slider_container .product .product-details { margin-top: 0.5rem; }

.main .catalog .container .slider_container .product .product-details .add-to-cart { margin-top: 0.4rem; width: 100%; background-color: var(--color-black); color: var(--color-white); font-size: 1rem; font-weight: 500; }

.main .catalog .container .slider_container .product .product-details .add-to-cart:hover { background-color: var(--color-hover); }

.main .cart { padding: 20px; background-color: #fff; border: 1px solid #ddd; max-width: 400px; width: 100%; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1); box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1); z-index: 9999; max-height: 80vh; overflow-y: auto; }

.main .cart .cart-total { border-bottom: dashed 1px var(--color-black); padding-bottom: 5px; }

.main .cart form * { margin-top: 5px; text-align: center; }

.main .cart form * input { display: block; border: solid 1px #ccc; margin-left: 5px; width: 100%; }

.main .cart form .send { margin-top: 15px; background: var(--color-black); color: var(--color-white); padding: 5px; }

.main .cart .cart-close-btn { background: transparent; border: none; font-size: 24px; line-height: 1; cursor: pointer; float: right; color: #444; padding: 0; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-weight: bold; }

.main .cart .cart-close-btn:hover { color: #000; }

.main #cart-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 15px; /* расстояние между товарами */ margin-bottom: 20px; }

.main .cart-item { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 6px; background-color: #f7f7f7; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main .cart-item img { width: 60px; height: auto; -o-object-fit: contain; object-fit: contain; border: 1px solid #ddd; border-radius: 4px; }

.main .cart-item-info { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; font-size: 14px; line-height: 1.4; }

.main .cart-item input.quantity { width: 50px; }

.main .cart-item .remove { background-color: #e74c3c; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 4px; }

.main .add-to-cart { background-color: #f8f8f8; padding: 5px 10px; font-weight: bold; cursor: pointer; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.main .add-to-cart.added { background-color: #4caf50; color: white; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
