.wrapper .main .container { padding: 20px; }

.wrapper .main .container .item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 40px; }

.wrapper .main .container .item .slider .thumbnails { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wrapper .main .container .item .text { width: 100%; max-width: 508px; padding: 30px 0; }

.wrapper .main .container .item .text .title { font-weight: 600; font-size: 1.5rem; }

.wrapper .main .container .item .text .title span { color: var(--color-gray-font); font-size: 0.75rem; font-weight: 300; }

.wrapper .main .container .item .text .price { font-weight: 500; font-size: 1.6rem; margin-top: 30px; }

.wrapper .main .container .item .text .description { margin-top: 20px; }

.wrapper .main .container .item .text .description .option .circle-list { margin-top: 10px; list-style-type: disc; font-weight: 300; }

.wrapper .main .container .item .text .esc button { background: var(--color-black); width: 100px; height: 30px; margin-top: 50px; color: var(--color-white); font-size: 0.85rem; border-radius: 3px; }

.slider { max-width: 500px; }

.main-image img { height: auto; border-radius: 2px; -o-object-fit: cover; object-fit: cover; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.thumbnails { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; margin-top: 10px; }

.thumb { width: 80px; height: 60px; -o-object-fit: cover; object-fit: cover; border: 2px solid transparent; cursor: pointer; border-radius: 5px; -webkit-transition: border 0.2s; -o-transition: border 0.2s; transition: border 0.2s; }

.thumb:hover, .thumb.active { border: 2px solid var(--color-black); }
